$brand-primary			: #08ada7;
$orange					: #ff6b57;
$purple					: #9B59B6;
$green					: #41C3AC;
$blue					: #3498DB;

/* Typo */
.orange {
	color: $orange;
}
.purple {
	color: $purple;
}
.green {
	color: $green;
}
.blue {
	color: $blue;
}